.Top{
    background-image: url(C:\Users\AMCC\Desktop\Final Project 2\project\src\home\picturejpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: '100%';
    
}